CORS_ALLOW_ORIGINS=[]

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_SERVER=
POSTGRES_PORT=
POSTGRES_DB=
SQL_ECHO=false

REDIS_HOST=
REDIS_PORT=

JWT_SECRET=
JWT_ALGORITHM=
JWT_EXPIRE_MINUTES=
JWT_REFRESH_EXPIRE_DAYS=
